{% extends "base.html" %}


{% block title_head %}
<title>Trineos</title>
{% endblock title_head %}
 
{% block h1_header %}
    Trineos {{paleta.marca}}
{% endblock h1_header %}

{% block main %}
<p>
    <a href={% url "crear_trineo" %} >Crear Trineo</a>
</p>

{% if listado_de_trineos %}

<ul>

{% for trineos in listado_de_trineos %}
<li> <a href= {% url "detalle_trineo" trineos.id %}>{{trineos}}</a> | <a href={% url "editar_trineo" trineos.id %}  >Editar</a> | <a href="{% url "eliminar_trineo" trineos.id %} ">Eliminar</a> | 
</li>
    {% endfor %}

</ul>

{% else %}
<p>No se encontraron trineos</p>
{% endif %}
{% endblock main %}

